# ========================
# Log files
# ========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ========================
# Diretórios e arquivos de build
# ========================
dist/
dist-ssr/
coverage/
*.local

# ========================
# Dependências
# ========================
node_modules/

# ========================
# Cypress (testes E2E)
# ========================
/cypress/videos/
/cypress/screenshots/

# ========================
# Arquivos de ambiente
# ========================
.env.local
.env.*.local

# ========================
# Configurações de IDEs/editores
# ========================
# VS Code
.vscode/
!.vscode/extensions.json

# JetBrains IDEs (WebStorm, PhpStorm, etc.)
.idea/

# Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln

# Arquivos temporários de editores
*.sw?

# ========================
# Arquivos de sistema
# ========================
.DS_Store
